<header class="header">
  <nav class="header__nav">
    <a [routerLink]="'/'" class="header__logo">
      <img src="assets/images/logo.png" alt="">
    </a>
    <div class="header__links">
      <button
        *ngIf="isHamburgerVisible"
        [className]="isHamburgerOpen ? 'open' : ''"
        (click)="toggleHamburgerMenu()"
        class="header__hamburger-button"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <app-categories-list
        [isHamburgerOpen]=isHamburgerOpen
        [isHamburgerVisible]=isHamburgerVisible
      ></app-categories-list>
    </div>
  </nav>
</header>
