@import '../../functions';

.categories {
  &__category {
    margin-left: 15px;
    margin-right: 15px;

    a {
      color: black;
      display: block;
      font-size: 18px;
      text-decoration: none;
      transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      &:link, &:visited, &:active {
        color: black;
      }
      &:hover,
      &.router-link-active {
        color: #b52986 ;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }
}
