@font-face {
  font-family: 'Fibon Neue Rounded';
  font-weight: 400;
  src: url(assets/fonts/FibonNeueRND-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Fibon Neue Rounded';
  font-weight: 700;
  src: url(assets/fonts/FibonNeueRND-ExtraBold.woff) format('woff');
}

body {
  font-family: 'Fibon Neue Rounded', sans-serif;
  overflow-x: hidden;
}

.oh-no {
  .categories__category a {
    color: white !important;
  }
}
